/* font */
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/* utils */

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

html {
    font-size: 10px;
}

:root {
    --main-color: #333;
}

body {
    font-family: "Pretendard-Regular", sans-serif;
    font-size: 1.6rem;
    background-color: #fff;
}


/*intro*/

.intro-cont {
    max-width: 1200px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: minmax(0, 1.4fr) minmax(0, 1fr);
    column-gap: 5vw;
    align-items: start;
    padding: 30px;
}

.strong {
    font-family: "Pretendard-Bold";
}

.intro-title{
    color: var(--main-color);
    font-size: 70px;
    line-height: 1.3;
    margin-bottom: 16px;
}

.intro-desc {
    color: var(--main-color);
    font-size: 20px;
    line-height: 1.6;
}


/*card*/

.field-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 280px;
    row-gap: 16px;
    width: 100%;

}

.field-item {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    padding: 40px 30px 30px 40px;
    width: 100%;
    max-width: 486px;

    height: 280px;
    margin: 20px 0;

    display: grid;
    grid-template-rows: auto auto;
    align-content: space-between;
    box-sizing: border-box;
}


.field-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.field-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.field-title,
.field-link {
    position: relative;
    z-index:2;
    color: #fff;
}

.field-title {
    font-size: 30px;
    position: relative;

}

.field-link {
    position: relative;
    display: inline-flex;
    font-size: 16px;
    justify-self: end;
    text-decoration: none;
    opacity: 0.9;
    align-items: center;
    gap: 4px;
    z-index: 2;
}

.icon-arrow {
    width: 14px;
    height: 14px;
}


/* ====== media query ====== */

@media (max-width:1199px) {
    .intro-cont {
        max-width: 768px;
        margin: 80px auto;

        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .field-list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: 150px;
        column-gap: 16px;
        row-gap: 20px;
        justify-self: start;
    }

    .field-item {
        width: 100%;
        height: 198px;
        padding: 30px;
        box-sizing: border-box;
    }

    .field-title {
        font-size: 24px;
    }
}


@media (max-width:767px) {
    .intro-cont {
        max-width: 390px;
        margin: 100px 5vw auto;
        row-gap: 40px;
        padding: 0 16px;
    }

    .intro-title {
        font-size : 36px;
    }

    .intro-desc {
        font-size: 14px;
    }

    .field-list {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap:16px;     
    }

    .field-item {
        padding: 30px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

}